@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
    font-weight: 300;

}

.mnubtn{
    border: none;
    background-color: white;
    border: #000 solid 1px ;
    width: 30px;
    height: 30px;
}
.maincontainer{
    width: 1000px;
    margin: 0px 30px;
    align-items: center;
}

@media  screen and (max-width:1600px){
    .maincontainer{
        max-width: 1000px;
        height: 100%;
        margin: 0px 20px;
    }

    .container2{
        margin: 10px 40px;
        display: inline-flex;
        align-items: center;
    }
    
    .phtuser{
        width: 100px;
        height: 100px;
    }
    
    .name{
        
        display: inline-block;
        margin-left: 15px;
        font-weight: 400;
    }
    
    .logo{
        font-family: 'Parisienne', cursive;
        position: relative;
        font-size: 45px;
        align-self: center;
        display: inline-block;
        margin:0px 100px;
    }

    .qst{
        width: 500px;
        margin: 20px 300px;
    }
}


@media  screen and (max-width:1500px){
    .maincontainer{
        max-width: 800px;
        height: 100%;
        margin: 0px 15px;
    }

    .container2{
        margin: 10px 40px;
        display: inline-flex;
        align-items: center;
    }
    
    .phtuser{
        width: 100px;
        height: 100px;
    }
    
    .name{
        
        display: inline-block;
        margin-left: 15px;
        font-weight: 400;
    }
    
    .logo{
        font-family: 'Parisienne', cursive;
        position: relative;
        font-size: 45px;
        align-self: center;
        display: inline-block;
        margin:0px 80px;
    }

    .qst{
        width: 800px;
    }
}

.sv{
    color: black;
    border-radius: 10px;
    border: none;
    width: 250px;
    height: 40px;
    margin: 30px 20px;
    background-color: red;
}



.container1{
    margin: 50px 100px;
    width: 1170px;
    font-family: sans-serif;
    display: inline-flex;
    align-items: center;

}

.container2{
    margin: 10px 200px;
    display: inline-flex;
    align-items: center;
}

.container3{
    width: 800px;
    margin: 10px 300px;
    display: inline-flex;
    align-items: center;
    align-content: center;
}

.qus{
    font-weight: 400;
    margin: 50px 200px;
}

.imgsdnav{
    width: 70px;
    height: auto;
}

.phtuser{
    width: 130px;
    height: 130px;
}

.name{
    
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
}

.logo{
    font-family: 'Parisienne', cursive;
    position: relative;
    font-size: 45px;
    align-self: center;
    display: inline-block;
    margin-left: 400px;
}

.qst{
    width: 800px;
    margin: 20px 500px;
}


.chs{
    width: 15px;
    height: 15px;
    margin: 15px 2px 30px 20px;
}

.inpfrm{
    width: 300px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 15px 0px;
}

.sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(55, 148, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    margin: 10px 15px;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}